
/*CSS for body*/
body
{
	margin:0 0 0 0 ;
	color: black;
	text-shadow:2px 2px 5px gray; 
}

/*Header CSS*/
header
{
	position: fixed;
	width: 100%;
	text-align: center;
	color:white;
	box-shadow: 0px 5px 10px black;
	z-index: 2;
	top: 0px;
	font-family: 'Iceland', cursive;
	background-image: url("../img/header.jpg");
	text-shadow: 5px 5px 10px black;
}

/*Navigation CSS*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    color: white;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
   
}

nav li a:hover {
	font-size: 21px;
	color: gray;
    background-color: #111;
}
nav
{	
	position:fixed;
	width: 100%;
	text-align: center;
	color: white;
    background-color: #333;
	box-shadow: 0px 5px 10px black;
	top:95px;
	z-index: 1;
	float: left;
}

/*Search box CSS	*/
input
{
	font-size: 15px;
	margin-top: 5px;
	padding: 15px 15px 15px 15px;
	background: #eaeaea;
	box-shadow: 5px 5px 10px black;
	border-style: none;
    font-family: 'Russo One', sans-serif;
	border-radius: 5px 5px 5px 5px;
}
#submit:hover
{
	color: white;
	background-color: #111;
}
#links
{
	margin-left: 35%;
	float: left;
}
#find
{
	float: right;
}


/*Hero Section CSS*/

.hero {
  position:relative;
  display: block;
  height:281px;
  width:450px;
  top: 200px;
  margin-left: 300px;
  
}

.hero img {

  box-shadow: 0px 0px 19px black;
  position:absolute;
  transition: opacity 1s ease-in-out;
}

.hero img.top:hover {
  opacity:0;
}

/*960 Grid CSS*/
.grid_4
{
	display: block;
	position: relative;
	margin-left:0px;
}
.col2
{
	margin-top: 50px;
	float: left;
}
.grid_8
{
	margin: 0 0 0 0;
	padding: 0 0 0 0 ;
}
.detail_head
{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 2px 3px 5px black;
}
.container_12 a
{
	text-decoration: none;
	color: black;

}


/*Footer CSS*/

footer
{
	width: 100%;
	display: block;
	background: blue;
	margin: 0px 0px 0px 0px;
}


#footerid
{
	font-size: 18px;
	z-index: 4;
	font-family: 'Iceland', cursive;
	float: right;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 0px 100px 0px 0px;
	
}
#footerid a
{
	color: white;
	margin-right: 20px;
	text-shadow: 1px 1px 6px black;
	text-decoration: none;
}
#footerid a:hover
{
	color: gray;
}
#last
{
	padding-bottom:  12px;
	background-color: #111;
    color: white;
	font-size: 20px;
	font-family: 'Iceland', cursive;
    margin: 0px 0px 0px 0px;
    	text-decoration: none;
}
#last img
{
	background: white;	
	padding-bottom: 0px;
	overflow: auto;
	border-radius: 50px;
	margin-left: 30px;
	transition:all .5s ease-in-out;

}
#last img:hover
{
	background: white;	
	margin: 0;
	transform: scale(2,2);
	margin-left: 20px;
	border-radius: 50px;
	transition:all .5s ease-in-out;

}
